button {
  min-width: 144px;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;

}

span {
 margin-right: 15px;
}